{% extends "layout.html" %}
{% block title %}SMELLIE Data Quality for run {{run_number}} subrun {{subrun_number}}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="panel panel-default">
        <div class="panel panel-heading">
            <h3 class="panel-title">Run information for run {{run_number}} subrun {{subrun_number}}</h3>
        </div>
        <div class="panel panel-body">
            <table class="table table-hover"> 
                <thead>
                    <tr>
                        <th>
                            Parameter
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead> 
                
                
                <tbody>
                <tr>
                    <td>Expected Number of SMELLIE events </td> <td>{{(runInformation["number_events_expected_subrun"])[subrun_number | int]}}</td>
                </tr>

                <tr>
                    <td>SMELLIE events passing NHit and Trigger Cut</td> <td>{{(runInformation["events_passing_nhit_and_trigger"])[subrun_number | int]}}</td>
                </tr>

                <tr>
                    <td>SMELLIE events passing NHit and failing Trigger Cut (Missing Triggers)</td> <td>{{(runInformation["events_passing_nhit_failing_trigger"])[subrun_number | int]}}</td>
                </tr>
                
                <tr>
                    <td>SMELLIE events failing NHit and passing Trigger Cut (Extra Triggers)</td> <td>{{(runInformation["events_failing_nhit_passing_trigger"])[subrun_number | int]}}</td>
                </tr>

                <tr>
                    <td>SMELLIE NHit Events with an Adjacent Trigger Event</td> <td>{{(runInformation["nhit_event_next_to_trigger_event"])[subrun_number | int]}}</td>
                </tr>

                <tr>
                    <td>SMELLIE NHit Events with no  Adjacent Trigger Event</td> <td>{{(runInformation["nhit_event_no_adjacent_trigger"])[subrun_number | int]}}</td>
                </tr>

                <tr>
                    <td>SMELLIE Trigger Events with no Adjacent NHit Event</td> <td>{{(runInformation["trigger_event_no_adjacent_nhit"])[subrun_number | int ]}}</td>
                </tr>
                
                <tr>
                    <td>Average NHit for SMELLIE events</td> <td>{{(runInformation["mean_nhit_smellie_trigger_subrun"])[subrun_number | int]}}</td>
                </tr>
                
                
                <tr>
                    <td>Fibre Firing</td> <td>{{(runInformation["fibre_expected_subrun"])[subrun_number | int ]}}</td>
                </tr>
                
                <tr>
                    <td>Calculated Fibre Firing</td> <td>{{(runInformation["fibre_calculated_subrun"])[subrun_number | int ]}}</td>
                </tr>

                <tr>
                    <td>Expected Laser Frequency </td> <td>{{(runInformation["frequency_expected_subrun"])[subrun_number | int]}}</td>
                </tr>

                <tr>
                    <td>Calculated Laser Frequency </td> <td>{{(runInformation["frequency_actual_subrun"])[subrun_number | int]}}</td>
                </tr>

                </tbody>
            </table>
    </div>
</div>
<div class="container">
    <h1>SMELLIE Data Quality Plots for run {{run_number}} subrun {{subrun_number}}</h1>
    {% for i in range(plots|length) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{titles[i]}}</h3>
        </div>
        <div class="panel-body">
            <img src="{{plots[i]}}" class="img-responsive center-block">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
